In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("continents.csv", delimiter=';')
df

         continent    country
0           Africa    Algeria
1           Africa     Angola
2           Africa      Benin
3           Africa   Botswana
4           Africa    Burkina
..             ...        ...
189  South America   Paraguay
190  South America       Peru
191  South America   Suriname
192  South America    Uruguay
193  South America  Venezuela

[194 rows x 2 columns]

In [3]:
df.shape

(194, 2)

In [4]:
df.head(5)

  continent   country
0    Africa   Algeria
1    Africa    Angola
2    Africa     Benin
3    Africa  Botswana
4    Africa   Burkina

In [5]:
df.describe()

       continent  country
count        194      194
unique         6      194
top       Africa  Algeria
freq          54        1

In [6]:
df[
    df["country"]=="Cyprus"
]

    continent country
108    Europe  Cyprus

In [7]:
africa = df[
    df["continent"]=="Africa"
]
africa

   continent                        country
0     Africa                        Algeria
1     Africa                         Angola
2     Africa                          Benin
3     Africa                       Botswana
4     Africa                        Burkina
5     Africa                        Burundi
6     Africa                       Cameroon
7     Africa                     Cape Verde
8     Africa       Central African Republic
9     Africa                           Chad
10    Africa                        Comoros
11    Africa                          Congo
12    Africa  Congo, Democratic Republic of
13    Africa                       Djibouti
14    Africa                          Egypt
15    Africa              Equatorial Guinea
16    Africa                        Eritrea
17    Africa                       Ethiopia
18    Africa                          Gabon
19    Africa                         Gambia
20    Africa                          Ghana
21    Africa                         Guinea
22    Africa                  Guinea-Bissau
23    Africa                    Ivory Coast
24    Africa                          Kenya
25    Africa                        Lesotho
26    Africa                        Liberia
27    Africa                          Libya
28    Africa                     Madagascar
29    Africa                         Malawi
30    Africa                           Mali
31    Africa                     Mauritania
32    Africa                      Mauritius
33    Africa                        Morocco
34    Africa                     Mozambique
35    Africa                        Namibia
36    Africa                          Niger
37    Africa                        Nigeria
38    Africa                         Rwanda
39    Africa          Sao Tome and Principe
40    Africa                        Senegal
41    Africa                     Seychelles
42    Africa                   Sierra Leone
43    Africa                        Somalia
44    Africa                   South Africa
45    Africa                    South Sudan
46    Africa                          Sudan
47    Africa                      Swaziland
48    Africa                       Tanzania
49    Africa                           Togo
50    Africa                        Tunisia
51    Africa                         Uganda
52    Africa                         Zambia
53    Africa                       Zimbabwe

In [11]:
subset = df.iloc[80:101]
subset

    continent               country
80       Asia                 Nepal
81       Asia                  Oman
82       Asia              Pakistan
83       Asia           Philippines
84       Asia                 Qatar
85       Asia    Russian Federation
86       Asia          Saudi Arabia
87       Asia             Singapore
88       Asia             Sri Lanka
89       Asia                 Syria
90       Asia            Tajikistan
91       Asia              Thailand
92       Asia                Turkey
93       Asia          Turkmenistan
94       Asia  United Arab Emirates
95       Asia            Uzbekistan
96       Asia               Vietnam
97       Asia                 Yemen
98     Europe               Albania
99     Europe               Andorra
100    Europe               Armenia

In [12]:
df.iloc[::2, :]

         continent                   country
0           Africa                   Algeria
2           Africa                     Benin
4           Africa                   Burkina
6           Africa                  Cameroon
8           Africa  Central African Republic
..             ...                       ...
184  South America                    Brazil
186  South America                  Colombia
188  South America                    Guyana
190  South America                      Peru
192  South America                   Uruguay

[97 rows x 2 columns]